<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin-top:5%">
    <form class="row g-3" method="POST" action="/upload" enctype="multipart/form-data">
        <div class="row-auto" style="margin-top:3%">
            <div class="col-auto">
                <label for="file" class="form-label" style="color:blue">Please upload a file</label>
            </div>
        </div>
        <div class="row-auto" style="margin-top:3%">
                <div class="col-auto">
                    <input class="form-control form-control-lg"  style="width:70% !important" id="file" type="file" name="file">
                </div>
        </div>
        <div class="row-auto" style="margin-top:3%">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Upload</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>